/* .Banner_1 {
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  z-index: 0;
  overflow:hidden;
  position: relative;
  transition: 2sec ease;
} */

.Banner_1 {
  position: relative; /* Needed for absolute centering of the search bar */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 2sec ease;

}
/* .Banner_1:hover reactBanner{
  transform: scale(1.1);
} */
.search-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px; /* Adds spacing between input and button */
}

/* .custom-search-bar {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
} */

.custom-button {
  height: 50px;
  font-size: 18px;
  border-radius: 0%;
}
.custom-search-bar{
  position: relative;
  width: 500px;
  height: 50px;
  /* flex-shrink: 0; */
  /* margin-left:10%;
  margin-top:158px;
  display:flex;*/
  border-radius:0;
  color: #6B6969;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
/* .custom-button{
  border-radius:0;
  margin-top:158px;
  flex-shrink:0;
  border-width:2px;
  font-size:24px;
  font-family: 'Raleway', sans-serif;  
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
} */ */

@media (max-width: 2000px) {
  .Banner_1 {
    height: 500px; /* Maintain 500px height in larger screens */
  }
  .custom-search-bar{
    width: 40%;
    height:52px;
    font-size: 24px;
    margin-left: 25%;
  }
  .custom-button{
    font-size: 24px;

  }
}

@media (max-width: 1500px) {
  .Banner_1 {
    height: 400px; /* Reduce height to 400px when the screen width is less than 1200px */
  }
  .custom-search-bar{
    margin-left: 20%;
    width: 45%;
    height:45px;
    font-size:20px;
    margin-top:12%;
  }
  .custom-button{
    font-size: 20px;
    margin-top: 12%;
  }
}

@media (max-width: 1000px) {
  .Banner_1 {
    height: 300px; /* Reduce height to 300px when the screen width is less than 768px */
  }
  .custom-search-bar{
    margin-left: 15%;
    margin-top: 13%;
    width: 50%;
    height: 40px;
    font-size: 18px;
  }
  .custom-button{
    margin-top: 13%;
    font-size: 18px;
  }
}


@media (max-width: 500px) {
  .Banner_1 {
    height: 300px; /* Reduce height to 300px when the screen width is less than 768px */
  }
  .custom-search-bar{
    margin-top: 100px;
    margin-left: 10%;
    width: 55%;
    height: 35px;
    font-size: 16px;
  }
  .custom-button{
    margin-top: 100px;
    font-size: 16px;
  }
}
